.animate {
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-name: animate-blur;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-fill-mode: backwards;
  z-index: 1;
}
.over-anim{
 z-index: 2; 
}
@supports (animation-timeline: view()) and (animation-range: entry 25% entry 80%){
  .animate{
    animation-timeline: view();
    animation-range: entry 25% entry 80%;
  }
}
/* Blur In */
.animate.blur {
  animation-name: animate-blur;
  animation-timing-function: ease;
}

@keyframes animate-blur {
  0% {
    opacity: 0;
    filter: blur(15px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
/* Slide In */
.animate.slide { animation-name: animate-slide; }

@keyframes animate-slide {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
/*Respect reduced motion preference*/
@media screen and (prefers-reduced-motion: reduce) {
  .animate {
    animation: none !important;
  }
}